@using PostReader.Api.Application.PostWebsites.Queries
@{
    ViewData["Title"] = "Result Page";
}
@model PostReader.Api.Common.CommonModels.PaginatedList<PostWebsiteDto>

    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">Znalezione publikacje</li>
        <li class="list-group-item"></li>
    </ul>
    @if (Model.Items.Count > 0)
    {
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <div class="card">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => Model.Items[i].Title)
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        @Html.DisplayFor(modelItem => Model.Items[i].Author)
                    </li>
                    <li class="list-group-item">
                        @{
                            string date = Model.Items[i].FirstPublicationDate.ToString("yyyy-MM-dd");
                        }
                        @Html.DisplayFor(modelItem => date)
                    </li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
        }

    }
    else
    {
    <h3>Brak pasujących publikacji</h3>
    }

    @{
       string prevDisabled = Model.HasPreviousPage ? "" : "disabled";
       string nextDisabled = Model.HasNextPage ? "" : "disabled";
    }
    <div>
    <footer>
        <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item @prevDisabled">
      <a class="page-link" 
      href="@Url.Action("GetPagination","WebsitesReader", new {pageIndex=Model.PageIndex-1})">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" 
    href="@Url.Action("GetPagination","WebsitesReader", new {pageIndex=1})">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" 
      href="@Url.Action("GetPagination","WebsitesReader", new {pageIndex=2})">2</a>
    </li>
    <li class="page-item"><a class="page-link"
        href="@Url.Action("GetPagination","WebsitesReader", new {pageIndex=3})">3</a></li>
    <li class="page-item  @nextDisabled">
      <a class="page-link"
      href="@Url.Action("GetPagination","WebsitesReader", new {pageIndex=Model.PageIndex+1})">Next</a>
    </li>
  </ul>
</nav>
</footer>
</div>
